[Desktop Entry]
Type=Application
Version=1.0
Name=Install Mauna Linux
Name[af]=Installeer Mauna Linux
Name[ar]=قم بتثبيت ماونا لينكس
Name[bg]=Инсталирайте Mauna Linux
Name[ca]=Instal·leu Mauna Linux
Name[de]=Installieren Sie Mauna Linux
Name[el]=Εγκαταστήστε το Mauna Linux
Name[es]=Instalar MaunaLinux
Name[et]=Installige Mauna Linux
Name[eu]=Instalatu Mauna Linux
Name[fi]=Asenna Mauna Linux
Name[fil]=I-install ang Mauna Linux
Name[fr]=Installer Mauna Linux
Name[he]=התקן את מאונה לינוקס
Name[hi_IN]=मौना लिनक्स स्थापित करें
Name[id]=Instal Mauna Linux
Name[it]=Installa MaunaLinux
Name[ja]=マウナ Linux をインストールする
Name[ko]=마우나 리눅스 설치
Name[ms]=Pasang Mauna Linux
Name[nl]=Installeer Mauna Linux
Name[pl]=Zainstaluj Mauna Linux
Name[pt]=Instalar Mauna Linux
Name[pt_BR]=Instalar Mauna Linux
Name[ro]=Instalați Mauna Linux
Name[ru]=Установить Мауна Линукс
Name[th]=ติดตั้ง เมานาลินุกซ์
Name[tr]=Mauna Linux'u kurun
Name[uk]=Встановіть Мауна Лінукс
Name[vi]=Cài đặt Mauna Linux
Name[zh_CN]=安装 莫纳 Linux
Name[zh_HK]=安裝 莫納 Linux
Name[zh_MO]=安裝 莫納 Linux
Name[zh_TW]=安裝 莫納 Linux
GenericName=Install Mauna
GenericName[af]=Installeer Mauna
GenericName[ar]=تثبيت مونا
GenericName[bg]=Инсталирайте Mauna
GenericName[ca]=Instal·leu Mauna
GenericName[de]=Installieren Sie Mauna
GenericName[el]=Εγκαταστήστε το Mauna
GenericName[es]=Instalar Mauna
GenericName[et]=Installige Mauna
GenericName[eu]=Instalatu Mauna
GenericName[fi]=Asenna Mauna
GenericName[fil]=I-install ang Mauna
GenericName[fr]=Installer Mauna
GenericName[he]=התקן את מאונה
GenericName[hi_IN]=मौना स्थापित करें
GenericName[id]=Instal Mauna
GenericName[it]=Installa Mauna
GenericName[ja]=マウナをインストールする
GenericName[ko]=마우나 설치
GenericName[ms]=Pasang Mauna
GenericName[nl]=Mauna installeren
GenericName[pl]=Zainstaluj Maunę
GenericName[pt]=Instalar Mauna 
GenericName[pt_BR]=Instalar Mauna
GenericName[ro]=Instalați Amarok 
GenericName[ru]=Установить Мауна
GenericName[th]=ติดตั้ง เมานา
GenericName[tr]=Mauna'yı yükleyin
GenericName[uk]=Встановіть Мауна
GenericName[vi]=Cài đặt Mauna
GenericName[zh_CN]=安装 莫纳
GenericName[zh_HK]=安裝 莫納
GenericName[zh_MO]=安裝 莫納
GenericName[zh_TW]=安裝 莫納
Comment=Calamares — System Installer for Mauna Linux
Comment[af]=Calamares - Stelselinstalleerder vir Mauna Linux
Comment[ar]=Calamares - مثبت النظام لـ ماونا لينكس
Comment[bg]=Calamares — Системен инсталатор за Mauna Linux
Comment[ca]=Calamares — Instal·lador del sistema per a Mauna Linux
Comment[de]=Calamares – Systeminstallationsprogramm für Mauna Linux
Comment[el]=Calamares — Πρόγραμμα εγκατάστασης συστήματος για Mauna Linux
Comment[es]=Calamares — Instalador del sistema para Mauna Linux
Comment[et]=Calamares – Mauna Linuxi süsteemiinstaller
Comment[eu]=Calamares — Mauna Linux-erako sistema instalatzailea
Comment[fi]=Calamares — Järjestelmän asennusohjelma Mauna Linuxille
Comment[fil]=Calamares — System Installer para sa Mauna Linux
Comment[fr]=Calamares — Installateur système pour Mauna Linux
Comment[he]=Calamares - מתקין מערכת עבור מאונה לינוקס
Comment[hi]=कैलामारेस - मौना लिनक्स के लिए सिस्टम इंस्टालर
Comment[id]=Calamares — Penginstal Sistem untuk Mauna Linux
Comment[it]=Calamares — Installatore di sistema per Mauna Linux
Comment[ja]=Calamares — マウナ・リナックス のシステムインストーラー
Comment[ko]=Calamares — 마우나 리눅스용 시스템 설치 프로그램
Comment[ms]=Calamares — Pemasang Sistem untuk Mauna Linux
Comment[nl]=Calamares — Systeeminstallatieprogramma voor Mauna Linux
Comment[pl]=Calamares — instalator systemu dla Mauna Linux
Comment[pt]=Calamares — Instalador do Sistema para Mauna Linux
Comment[pt_BR]=Calamares — Instalador do Sistema para Mauna Linux
Comment[ro]=Calamares — Instalator de sistem pentru Mauna Linux
Comment[ru]=Calamares — системный установщик для Мауна Линукс
Comment[th]=Calamares — ตัวติดตั้งระบบสำหรับ เมานาลินุกซ์
Comment[tr]=Calamares — Mauna Linux için Sistem Kurulum Aracı
Comment[uk]=Calamares — системний інсталятор для Мауна Лінукс
Comment[vi]=Calamares — Trình cài đặt hệ thống cho Mauna Linux
Comment[zh_CN]=Calamares — 莫纳 Linux 的系统安装程序
Comment[zh_HK]=Calamares — 莫納 Linux 的系統安裝程序
Comment[zh_MO]=Calamares — 莫納 Linux 的系統安裝程序
Comment[zh_TW]=Calamares — 莫納 Linux 的系統安裝程序
Exec=install-debian
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
