[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mauna/Desktop/install-debian.desktop]
row=5
col=0

[/home/mauna/Desktop/top.mauna.mycomputer.desktop]
row=4
col=0

[ed4d0235-ac7f-48b6-9897-fccd69b0f588]
row=0
col=0

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/mauna]
row=3
col=0

